<style>
  form {
    width:100%
  }
  .form-control {
    outline:0;
    border-radius:0;
  }
</style>

      <ul class="nav d-flex justify-content-between bg-primary mb-1" style="width:100%">
        <li class="nav-item">
          <%= link_to(
                        raw("<i class='fas fa-arrow-left'></i>"),
                        root_path,
                        class: "nav-link text-light border-0"
                      )%>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">LOGIN</a>
        </li>
        <li class="nav-item">
           <button type="button" id="submit-button" class="btn btn-primary">Log in</button>
        </li>
      </ul>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), id: "group_form") do |f| %>
  <div class="field">
    <%= f.email_field :email, 
    autofocus: true, 
    autocomplete: "email", 
    placeholder:"Email", 
    class:"text-light border-0 form-control mb-1" %>
  </div>

  <div class="field">
    <%= f.password_field :password, 
    autocomplete: "current-password", 
    placeholder:"Password", 
    class:"border-0 form-control" %>
  </div>
<% end %>
<div class="row text-center">
  <%= render "devise/shared/links" %>
</div>
  <script>
  let submitButton = document.getElementById("submit-button");
  let form = document.querySelector("form");
  submitButton.addEventListener("click", function(){
    form.submit();
  })
</script>